
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <title>ZYClk Ticaret</title>
    <meta name="description" content="Here goes description" />
    <meta name="author" content="author name" />
    <link rel="shortcut icon" href="/Content/Zeon/images/favicon.ico" type="image/x-icon" />
    <!-- ======================================================================
                                Mobile Specific Meta
    ======================================================================= -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- ======================================================================
                                Style CSS + Google Fonts
    =======================================================================-->
    <link href="/Content/Zeon/http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,700italic,400,600,700,800" rel="stylesheet" type="text/css"> 
    <link rel="stylesheet" href="/Content/Zeon/css/bootstrap.css" />
    <link rel="stylesheet" href="/Content/Zeon/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    @RenderSection("head", false)
</head>

<body class="home-blog-show">
    <!-- ======================================================================
                                    START SCRIPTS
    ======================================================================= -->
    <div class="header">
        <div class="container">
            <div class="header-top-info">
                <ul class="header-top-socials">
                    <li><a href="#"><i class="icon-160" title="161"></i></a></li>
                    <li><a href="#"><i class="icon-138" title="161"></i></a></li>
                    <li><a href="#"><i class="icon-106" title="161"></i></a></li>
                    <li><a href="#"><i class="icon-169" title="161"></i></a></li>
                    <li><a href="#"><i class="icon-163" title="161"></i></a></li>
                </ul>
               Telefon: 0541 2517590
            </div>
            <div class="header-middle-info">
                <div class="col-md-4">
                    <div class="logo">
                        <a href="~/Home/Index">
                        
                            <img src="~/Content/UrunResim/Kucuk/zycelik-logo.png" style="width:60px; height:60px;border-radius:50%;"  alt="site logo" />
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <ul class="header-middle-account">

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a href="/Uye/Hesabim"><i class="icon-330" title="My account"></i> Hesabim, <span class="username">@System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(User.Identity.Name)</span></a></li>
                            <li><a href="/Uye/CikisYap"><i class="icon-351" title="Login"></i> Cikis Yap</a></li>
                        }
                        else
                        {
                            <li><a href="/Uye/GirisYap"><i class="icon-351" title="LogOut"></i> Giris Yap</a></li>
                        }

                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="menu">
                <div class="search-cart">
                    <form class="search">
                        <input type="text" class="search-line" placeholder="Ara" name="serch" />
                        <input type="submit" value="" class="search-button" />
                    </form>

                    @{
                        Html.RenderAction("MiniSepetWidget", "Home");


                    }
                    <div class="clear"></div>
                </div>
                <div class="repsonsive-menu"><i class="icon-406" title="406"></i> Menu</div>
                <ul>
                    <li class="menu-item-has-children active">
                        <a href="/Home/Index">Anasayfa</a>

                    </li>
                    <li class="menu-item-has-children">
                        <a href="/Home/Kategoriler">Kategoriler</a>
                        <ul>
                            <li>


                                @{
                                    Html.RenderAction("KategoriListesi", "Home");
                                }

                            </li>
                        </ul>

                    </li>

                    <li class="menu-item-has-children">
                        <a href="#">Sayfalar</a>
                        <ul>
                            <li><a href="/Home/Hakkimizda">Hakkimizda</a></li>
                            <li><a href="/Home/KayitOl">Kayit Ol</a></li>
                        </ul>
                    </li>
                    <li><a href="/Home/Iletisim">Iletisim</a></li>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!-- ======================================================================
                                    END HEADER
    ======================================================================= -->
    <!-- ======================================================================
                                    START CONTENT
    ======================================================================= -->
    <div class="content">
    


        @{
            Html.RenderAction("Slider", "Home");
        }

        @RenderBody();


        @{
            Html.RenderAction("Markalar", "Home");

        }



    </div>

    <!-- ======================================================================
                                    START FOOTER
    ======================================================================= -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-xs-6">
                    <ul class="socials">
                        <li><a href="#"><img src="/Content/Zeon/images/elements/socials/facebook.png" alt="facebook" />Facebook</a></li>
                        <li><a href="#"><img src="/Content/Zeon/images/elements/socials/twitter.png" alt="twitter" />Twitter</a></li>
                        <li><a href="#"><img src="/Content/Zeon/images/elements/socials/youtube.png" alt="youtube" />Youtube</a></li>
                        <li><a href="#"><img src="/Content/Zeon/images/elements/socials/googleplus.png" alt="google" />Google+</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-xs-6">
                    <ul>
                        <li><a href="#">Register now</a></li>
                        <li><a href="#">Subscribe for newsletter</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Delivery</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Ask us</a></li>
                        <li><a href="#">Our partners</a></li>
                        <li><a href="#">About us</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-xs-6">
                    <ul>
                        <li><a href="#">Payments</a></li>
                        <li><a href="#">Size guide</a></li>
                        <li><a href="#">Order tracking</a></li>
                        <li><a href="#">Order history</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Terms & conditions</a></li>
                        <li><a href="#">Security & privacy</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-xs-6">
                    <ul class="menu-item">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Categories</a></li>
                        <li><a href="#">Shop</a></li>
                        <li><a href="#">Bolg</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Bag</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <div class="subscription">
                        <div class="subscription-title">Newsletter subscribe</div>
                        <form class="subscription" id="newsletter" method="post">
                            <input type="text" name="newsletter-name" placeholder="Name" class="subscription-line">
                            <input type="text" name="newsletter-email" placeholder="E-mail" class="subscription-line">
                            <input type="submit" value="send" class="button-5">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="mini-footer">
                <div class="row">
                    <div class="col-md-6">
                        Copyright 2022 ZYClk Ticaret &nbsp;  &nbsp;  &nbsp; Designed by ZYCLK
                    </div>
                    <div class="col-md-6">
                        <div class="text-right">
                            <img src="/Content/Zeon/images/elements/payment.png" alt="payment systems" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ======================================================================
                                    END FOOTER
    ======================================================================= -->
    <!-- ======================================================================
                                    START SCRIPTS
    ======================================================================= -->
    <script src="/Content/Zeon/js/modernizr.custom.63321.js" type="text/javascript"></script>
    <script src="/Content/Zeon/js/jquery-1.10.0.min.js" type="text/javascript"></script>
    <script src="/Content/Zeon/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/Content/Zeon/js/bootstrap.js" type="text/javascript"></script>
    <script src="/Content/Zeon/js/placeholder.js" type="text/javascript"></script>
    <script src="/Content/Zeon/js/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <script src="/Content/Zeon/js/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="/Content/Zeon/js/jquery.swipebox.min.js" type="text/javascript"></script>
    <script src="/Content/Zeon/js/farbtastic/farbtastic.js" type="text/javascript"></script>
    <script src="/Content/Zeon/js/options.js" type="text/javascript"></script>
    <script src="/Content/Zeon/js/plugins.js" type="text/javascript"></script>
    <!--[if lt IE 9]>
      <script src="/Content/Zeon/https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="/Content/Zeon/https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- ======================================================================
                                    END SCRIPTS
    ======================================================================= -->
</body>

</html>
