
@{
    ViewBag.Title = "SliderResimleri";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />

<form action="/Admin/SliderResimleri" method="post" enctype="multipart/form-data">

    <div class="form-group">

        <label class="panel-heading  col-md-3">Slider Resmi</label>
    
        <div class="controls col-md-9" >
            <div class="fileupload fileupload-new" data-provides="fileupload">
                <span class="btn btn-white btn-file">
                    <span class="fileupload-new"><i class="fa fa-paper-clip"></i>Resim Sec</span>
                    <input type="file" class="default" name="fileUpload" />
                </span>
                <span class="fileupload-preview" style="margin-left:5px;"></span>
                <a href="advanced_form_components.html#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none; margin-left:5px;"></a>
            </div>
        </div>
    </div>
    <br /><br /><br /> <br />
    <input type="submit" style="margin-left:450px;" class="btn btn-success" name="name" value="Kaydet" />
</form>

