@model List<ZYClkETicaret.WEBUI.Models.OzellikTip>

<script src="~/Content/Admin/js/jquery.validate.min.js"></script>
<script src="~/Content/Admin/js/jquery-migrate-1.2.1.min.js"></script>
<script src="~/Content/Admin/js/jquery.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {

 
    $('#tipler').change(function () {
        var id = $(this).val();
        $.ajax({
            type: "GET",
            url:"/admin/UrunOzellikDegerWidget",
            data: {tipId : id},
            success: function (veri) {
                $('#deger').html(' ');
                $('#deger').append(veri);            
                
            },
            error: function () {
                alert('hata olustu');
            }
        })
    })


    })
</script>
<div class="form-group">
    <label class="col-lg-2 control-label">Özellik Tipi</label>
    <div class="col-lg-10">
        <select class="form-control m-bot15" name="OzellikTipID" id="tipler" onchange="tipDegistir()">
            @foreach (var tip in Model)
            {
                <option value="@tip.Id">@tip.Adi</option>
            }

        </select>
    </div>
</div>