
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="http://thevectorlab.net/flatlab/img/favicon.png">

    <title>Yeni Hesap Olustur</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/Admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Admin/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="~/Content/Admin/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Content/Admin/css/style.css" rel="stylesheet">
    <link href="~/Content/Admin/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="login-body">

    <div class="container">

        <form class="form-signin" action="/Uye/KayitOl" method="Post">
            <h2 class="form-signin-heading">Kayit Ol</h2>
            <div class="login-wrap">
                <p>Kisisel Bilgilerini Gir</p>
                <input type="text" class="form-control" placeholder="Ad" autofocus name="Adi">
                <input type="text" class="form-control" placeholder="Soyad" autofocus name="Soyadi">
                <input type="text" class="form-control" placeholder="Kullanici Adi" autofocus name="KullaniciAdi">
                <input type="text" class="form-control" placeholder="Email" autofocus name="Email">
                <input type="text" class="form-control" placeholder="Telefon" autofocus name="Telefon">
                <div class="radios">
                    <label class="label_radio col-lg-6 col-sm-6" for="radio-01">
                        <input name="sample-radio" id="radio-01" value="1" type="radio" checked /> Erkek
                    </label>
                    <label class="label_radio col-lg-6 col-sm-6" for="radio-02">
                        <input name="sample-radio" id="radio-02" value="1" type="radio" /> Kadin
                    </label>
                </div>

                <p> Hesap Bilgilerini Gir</p>
                <input type="text" class="form-control" placeholder="Kullanici Adi" autofocus name="KullaniciAdi">
                <input type="password" class="form-control" placeholder="Parola" name="Parola">
                <input type="password" class="form-control" placeholder="Parola Tekrar" name="Parola">
                <input type="text" class="form-control" placeholder="Gizli Soru" autofocus name="GizliSoru">
                <input type="text" class="form-control" placeholder="Gizli Cevap" autofocus name="GizliCevap">

                <label class="checkbox">
                    <input type="checkbox" value="agree this condition"> Hizmet Şartlarını ve Gizlilik Politikasını kabul ediyorum
                </label>
                <button class="btn btn-lg btn-login btn-block" type="submit">Kaydet</button>

                <div class="registration">
                    Hesabin Var mi?
                    <a class="" href="/Uye/GirisYap">
                        Giris Yap
                    </a>
                </div>

            </div>

        </form>

    </div>


</body>
</html>

